<% include _header %>
<% include _navbar-back %>

<div class="signup-page form-page">

  <% if (message) { %>
    <section class="messages">
      <p><%= message %>
    </section>
  <% }; %>

  <section class="main">
    <p>
      This application is not secure... yet. DO NOT upload real health data.
    </p>
    <script src="/public/js/lib/zxcvbn-async.js"></script>
    <form action="/signup" method="post">
      <div>
        <input type="text" required name="name[full]" value="<%= user.name.full || '' %>" placeholder="Full name" autofocus>
      </div>
      <div>
        <input type="email" required name="email" value="<%= user.email || '' %>" placeholder="Email">
      </div>
      <div>
        <input id="password" type="password" required name="password" value="<%= user.password || '' %>" placeholder="Password">
      </div>
      <div>
        <input type="password" required name="passwordConfirmation" value="<%= user.passwordConfirmation || '' %>" placeholder="Password (again)">
      </div>
      <div id="strength-bar"></div>
      <div>
        <input id="submit" type="submit" value="Sign up" class="button">
      </div>
    </form>
    <script src="/public/js/check-password.js"></script>
  <p>
    <center><a href="privacy-policy">Privacy Policy</a></center>
  </p>
  </section>

</div>

<% include _footer %>
