<% include _header %>
<% include _navbar-back %>

<div class="signup-page form-page">

  <% if (message) { %>
    <section class="messages">
      <p><%= message %>
    </section>
  <% }; %>

  <section class="main">
    <div class="warning">
      <h3>Warning! This is currently a test application.</h3>
      <p>
        DO NOT USE ANY PERSONAL HEALTH INFORMATION ON THIS SERVER.
    </div>

    <form action="/signup" method="post">
      <div>
        <input type="text" required name="name[full]" value="<%= user.name.full || '' %>" placeholder="Full name" autofocus>
      </div>
      <div>
        <input type="email" required name="email" value="<%= user.email || '' %>" placeholder="Email">
      </div>
      <div>
        <input id="password" type="password" required name="password" value="<%= user.password || '' %>" placeholder="Password">
      </div>
      <div>
        <input type="password" required name="passwordConfirmation" value="<%= user.passwordConfirmation || '' %>" placeholder="Password (again)">
      </div>
      <div id="strength-bar"></div>
      <div>
        <input id="submit" type="submit" value="Sign up" class="button">
      </div>
    </form>
    <p>
      <center><a href="privacy-policy">Privacy Policy</a></center>
    </p>
    <script src="/public/js/check-password.js"></script>
    <script src="/public/js/lib/zxcvbn.js"></script>
    <script src="/public/js/lib/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="/public/js/check-password.js"></script>
    <script>
      $('.main form').validate({
        rules: {
        password: {
            minlength: 6
        },
          passwordConfirmation: {
            equalTo: '[name="password"]'
          }
        }
      });
    </script>
  </section>

</div>

<% include _footer %>
