<% include _header %>
<% if (message) { %>
  <p><%= message %>.</p>
<% }; %>
<script src="/zxcvbn/zxcvbn-async.js"></script>
<form action="/signup" method="post">
  <div>
  <label>Name:</label>
  <input type="text" required name="name[full]" value="<%= user.name.full || '' %>" /><br/>
  </div>
  <div>
  <label>Email:</label>
  <input type="email" required name="email" value="<%= user.email  || '' %>"/><br/>
  </div>
  <div>
  <label>Password:</label>
  <input id="password" type="password" required name="password" value="<%= user.password || '' %>"/>
  </div>
  <div>
  <label>Repeat password:</label>
  <input type="password" required name="passwordConfirmation" value="<%= user.passwordConfirmation || '' %>"/>
  </div>
  <div id="strength-bar"></div>
  <div>
  <input id="submit" type="submit" value="Sign up" />
  </div>
</form>
<script src="/public/js/check-password.js"></script>
<% include _footer %>
